<h1 mat-dialog-title>Visualize: <span [innerHTML]="getTitle()"></span></h1>
<div mat-dialog-content>
	<div id="readingsChart" [chart]="readingsChart"></div>
</div>
<div mat-dialog-actions>
	<button mat-stroked-button color="primary" [mat-dialog-close]="false">
		<mat-icon>close</mat-icon>
		<span>Cancel</span>
	</button>
	<button mat-flat-button color="primary" (click)="loadMore()" [disabled]="loading">
		<mat-icon *ngIf="!loading">downloading</mat-icon>
		<mat-icon *ngIf="loading" svgIcon="loading"></mat-icon>
		<span>Load next {{ utils.getDeltaTime(-after*1000) }} </span>
	</button>
</div>
