<app-breadcrumb [links]="['/timeseries']" [names]="['Timeseries']"></app-breadcrumb>

<app-system-memory></app-system-memory>

<dl class="list">
	<dt>Total sensors</dt>
    <dd>
        {{ totalTimeseries }}
    </dd>

    <dt>Total readings</dt>
    <dd>
        {{ totalSamples }}
    </dd>

    <dt>Total memory</dt>
    <dd>
        {{ utils.printFilesize(totalMemory) }}
    </dd>

	<dt>Default retention</dt>
    <dd>
		<app-inline-edit type="number" [value]="system?.retention.default" (onChange)="changedValue('retention', $event)"></app-inline-edit>
        seconds
		<span class="relative-time">{{ utils.getDeltaTime(system?.retention.default*1000) }}</span>
    </dd>
</dl>

<div class="row margin-top align-right">
	<div>
		<button mat-raised-button color="primary" (click)="applyRetention()">
			<mat-icon>timer</mat-icon>
			<span>Apply retention</span>
		</button>
	</div>
</div>

<div class="mat-elevation-z8 margin-top">
	<table mat-table [dataSource]="dataSource" matSort matSortActive="memory" matSortDisableClear matSortDirection="desc">

		<ng-container matColumnDef="datasetName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Dataset</th>
			<td mat-cell *matCellDef="let timeserie">
				<a *ngIf="hasAccess(timeserie)" routerLink="/datasets/{{ timeserie.datasetName }}">
					{{ timeserie.datasetName }}
				</a>
				<span *ngIf="!hasAccess(timeserie)">
					{{ timeserie.datasetName }}
				</span>
			</td>
		</ng-container>

		<ng-container matColumnDef="nodeName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Node</th>
			<td mat-cell *matCellDef="let timeserie">
				<a *ngIf="hasAccess(timeserie)" routerLink="/datasets/{{ timeserie.datasetName }}/nodes/{{ timeserie.nodeName }}">
					{{ timeserie.nodeName }}
				</a>
				<span *ngIf="!hasAccess(timeserie)">
					{{ timeserie.nodeName }}
				</span>
			</td>
		</ng-container>

		<ng-container matColumnDef="sensorName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Sensor</th>
			<td mat-cell *matCellDef="let timeserie">
				<a *ngIf="hasAccess(timeserie)" routerLink="/datasets/{{ timeserie.datasetName }}/nodes/{{ timeserie.nodeName }}/sensors/{{ timeserie.sensorName }}">
					{{ timeserie.sensorName }}
				</a>
				<span *ngIf="!hasAccess(timeserie)">
					{{ timeserie.sensorName }}
				</span>
			</td>
		</ng-container>

		<ng-container matColumnDef="samples">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Readings</th>
			<td mat-cell *matCellDef="let timeserie">{{ timeserie.samples }}</td>
		</ng-container>

		<ng-container matColumnDef="memory">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Memory</th>
			<td mat-cell *matCellDef="let timeserie">{{ utils.printFilesize(timeserie.memory) }}</td>
		</ng-container>

		<ng-container matColumnDef="retention">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Retention</th>
			<td mat-cell *matCellDef="let timeserie">{{ utils.getDeltaTime(timeserie.retention*1000) }}</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

	<div [hidden]="dataSource.data.length <= 10">
		<mat-paginator [pageSizeOptions]="[10, 100]"></mat-paginator>
	</div>
</div>
