<mat-toolbar class="toolbar">
	<a mat-button routerLink="/">
		<mat-icon class="logo" svgIcon="datahub"></mat-icon>
        <span class="title">Datahub</span>
	</a>

	<a mat-button routerLink="/datasets" *ngIf="auth.isLoggedIn()">
    	<mat-icon fontIcon="dataset"></mat-icon>
		<span>Datasets</span>
	</a>

	<button mat-button *ngIf="auth.isLoggedIn()" [matMenuTriggerFor]="integrationMenu">
    	<mat-icon fontIcon="swap_horiz"></mat-icon>
		<span>Integration</span>
	</button>

	<button mat-button *ngIf="auth.isAdmin()" [matMenuTriggerFor]="adminMenu">
    	<mat-icon fontIcon="admin_panel_settings"></mat-icon>
		<span>Administration</span>
	</button>

	<span class="spacer"></span>

	<a mat-button routerLink="/users/{{ auth.getUsername() }}" *ngIf="auth.isLoggedIn()">
    	<mat-icon fontIcon="person"></mat-icon>
		<span>{{ auth.getUsername() }}</span>
	</a>

	<button mat-button *ngIf="auth.isLoggedIn()" (click)="logout()">
    	<mat-icon fontIcon="lock_open"></mat-icon>
		<span>Sign out</span>
  	</button>

</mat-toolbar>

<mat-menu #integrationMenu="matMenu">
	<button mat-menu-item routerLink="/tokens">
    	<mat-icon fontIcon="key"></mat-icon>
		<span>Tokens</span>
	</button>
	<button mat-menu-item routerLink="/exports" [disabled]="true">
    	<mat-icon fontIcon="east"></mat-icon>
		<span>Exports</span>
	</button>
	<button mat-menu-item routerLink="/imports" [disabled]="true">
    	<mat-icon fontIcon="west"></mat-icon>
		<span>Imports</span>
	</button>
	<a mat-menu-item href="{{ apiUrl }}" target="_blank">
    	<mat-icon svgIcon="swagger"></mat-icon>
		<span>Swagger</span>
	</a>
</mat-menu>

<mat-menu #adminMenu="matMenu">
	<button mat-menu-item routerLink="/users">
    	<mat-icon fontIcon="people"></mat-icon>
		<span>Users</span>
	</button>
	<button mat-menu-item routerLink="/timeseries">
    	<mat-icon fontIcon="history"></mat-icon>
		<span>Timeseries</span>
	</button>
	<button mat-menu-item routerLink="/settings" [disabled]="true">
    	<mat-icon fontIcon="settings"></mat-icon>
		<span>Settings</span>
	</button>
</mat-menu>
